<div class="card card-signin mr-auto ml-auto" style="height: 300px">
    <div class="card-body">
        <h5 class="card-title text-center">Sign In</h5>
        <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-label-group mb-1">
                <input class="form-control form-control-lg" formControlName="username" type="text" placeholder="Username" required>
            </div>

            <div class="form-label-group mb-5">
                <input class="form-control form-control-lg" formControlName="password" type="password" placeholder="Password" required>
            </div>
            <button class="sign-in-btn" type="submit">Sign in</button>
        </form>
    </div>
</div>
