@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Vollkorn:wght@700&display=swap');

$font-lead-color: #262626;
$nav-text-color: #f5f5f5;
$primary: #edffec;
$secondary: #61e786;



// font-family: 'Vollkorn', serif;

// font-family: 'Montserrat', sans-serif;

